.navbar {
	background-color: black !important;
}
.jumbotron {
	background-color: black !important;
	color: rgb(253, 251, 251);
}
.Jumbo {
	background-color: black !important;
	color: rgb(253, 251, 251);
}
/* .card {
	background-color: rgb(255, 255, 255) !important;
	color: rgb(0, 0, 0);
} */


.container {
	max-width: 960px !important;
}

.content {
	margin: 10px;
	text-emphasis: left;
}
.NavigationBarBody{
	padding-bottom: 5px !important;
	text-align: center !important;
	display: inline !important;
}

