.App {
  text-align: center;
  src: local('Montserrat-Light'), url(./Components/Fonts/Montserrat-Light.ttf) format('opentype');
  font-family: 'Montserrat-Light';

}
.Home{
  background-color: rgb(255, 255, 255);
}

@font-face {
  font-family: 'Open Sans';
 src: local('Montserrat-Light'), url(./Components/Fonts/Montserrat-Light.ttf) format('opentype');
  font-family: 'Montserrat-Light';
}

.navigationMenuLinks{
	
}

.NavigationBarBody{
	text-align: center !important;
 	display: inline !important;
	margin-top: 10px;
}

.headerDiv{
	background-color: black;
}

.navbar {
	background-color: #000000b8 !important;	
}
.JumbotronCustom {
	background-color: black !important;
	color: rgb(253, 251, 251);
}
.Jumbo {
	background-color: black !important;
	color: rgb(253, 251, 251);
}
/* .card {
	background-color: rgb(255, 255, 255) !important;
	color: rgb(0, 0, 0);
} */

.container {
}

.mainBody{
margin-top: 32px;
}

.content {
	text-emphasis: left;
}

.homeCard{
	margin-bottom: 30px;
}

.HomepageBodyImageDiv{
	position: relative;
	width: 100%;
}
.bannerBtn{
	position: absolute;
	top: 90%;
	right: 0%;
	transform: translate(-50%, -50%);
}
